@import url("https://unpkg.com/react-sidebar-ui@1.2.0/dist/index.css");

.Main {
  height: 500px;
  font-size: 13px;
  box-sizing: border-box;
  margin: 30px 20px 0 25px;
}
.Main h4{
  color: #01b2ee;
  text-align: left;
  font-weight: 700;
  padding: 7px 0  0 7px;
}
.Sidebar-discover {
  font-size: 1.1rem;
  color: #4f5864;
  text-align:left;
  list-style-type:none;
 
}
._13dNw {
  position: static;
  background-color: white;
  width: 320px;
  height: 29rem;
}
.card-img-top {
  padding: 10px;
}
.card-img-top:hover {
 background-color:#01b2ee;
}
._VrCvP {
  padding: 11px 0;
  padding-left: 12px;
}
._VrCvP:hover {
  color: #01b2ee;
  transition: none;
  padding: 11px 0;
  padding-left: 12px;
}
@media screen and (max-width: 1030px) {
  ._13dNw {
    display: none;
  }
  .mainCard {
    display: none;
  }
}
