.Nav{
    color: #4f5864;
    display:flex;
    min-height: 65px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    /* align-items: baseline; */
    align-content: center;
    flex-direction: column;
    background-color:white !important;
    box-sizing: border-box;
    border:3px solid white;
    z-index: 7;
    margin-bottom: .5rem;
    box-shadow:1rem 1rem 1rem 0 white ;
    -webkit-box-shadow: -2px 5px 0px 0px white; 
}
@media screen and (max-width: 1030px) {
    .Nav {
     display:none;
     
    }}

.active-pink-2{
    margin-left:30px ;
}
.active-pink-2 input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid #01b2ee;
    box-shadow: 0 1px 0 0 #01b2ee;
  }